
/* Navigation header */
/* Search column */
/* Appartments location column */


/* Navigation header */
.navigation_header {
	border-bottom: 1px solid #999999;
}

.navigation_header > div {
	display: inline-block;
	float: left;
	line-height: 60px;
}

.navigation_header > div > img {
	width: 40px;
	height: 40px;
	display: block;
	margin: 10px;
}

.navigation_header > div > form {
	display: inline-block;
	padding: 0px 15px;
	border-left: 1px solid #999999;
}

.cities {
	font-size: 14px;
	border: 0;
	-webkit-appearance: none;
	background: url("arrow.png") no-repeat;
}

.navigation_header > div.pull-right {
	float: right;
}

.navigation_header > div > ul > li {
	display: inline;
	text-align: right;
}

.navigation_header > div > ul > li > a {
	text-decoration: none;
	color: green;
	padding: 0px 15px;
	line-height: 60px;
	display: inline-block;
	border-left: 1px solid #999999;
}

.clear_both {
	clear: both;
}

.header_icon {
	display: inline-block;
    vertical-align: middle;
}

.header_icon2 {
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}


/* Search column */

/*.rentals {
	border: 1px solid blue;
	margin: 10px;
}

#rentals_search > input {
	margin: 0px 10px;
}
*/