
/* Navigation header */
/* Search column */
/* Appartments location column */


/* Navigation header */
.navigation_header {
	border-bottom: 1px solid #999999;
}

.navigation_header > div {
	display: inline-block;
	float: left;
	line-height: 60px;
}

.navigation_header > div > img {
	width: 40px;
	height: 40px;
	display: block;
	margin: 10px;
}

.navigation_header > div > form {
	display: inline-block;
	padding: 0px 15px;
	border-left: 1px solid #999999;
}

.cities select {
	font-size: 14px;
    padding: 8px 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

	background: url("../images/arrow.png") no-repeat;
    background-size: 18px 36px;
    background-position: 72px 0px;
}

.navigation_header > div.pull-right {
	float: right;
}

.navigation_header > div > ul > li {
	display: inline;
	text-align: right;
}

.navigation_header > div > ul > li > a {
	text-decoration: none;
	color: green;
	padding: 0px 15px;
	line-height: 60px;
	display: inline-block;
	border-left: 1px solid #999999;
}

.clear_both {
	clear: both;
}

.header_icon {
	display: inline-block;
    vertical-align: middle;
}

.header_icon2 {
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}


/* Search column */

.rentals {
	margin: 10px;
}

#rentals_search > input {
	margin: 0px 10px;
	padding: 8px 20px 8px 10px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

#rentals_search select {
	font-size: 14px;
    padding: 8px 35px 8px 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

	background: url("../images/arrow.png") no-repeat;
    background-size: 18px 36px;
    background-position: 73px 0px;
}

#rentals_search > .submit_button {
	margin: 0px 10px;
	padding: 8px 20px 8px 10px;
	font-size: 14px;
	
	background-color: #6699FF;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
