
/* Navigation header */
/* Search column */
/* Appartments location column */
/***** Right Column -- MAP *******/


/******* NAVIGATION HEADER ********/
.navigation_header {
	border-bottom: 1px solid #999999;
}

.navigation_header > div {
	display: inline-block;
	float: left;
	line-height: 60px;
}

.navigation_header > div > img {
	width: 40px;
	height: 40px;
	display: block;
	margin: 10px;
}

.navigation_header > div > form {
	display: inline-block;
	padding: 0px 15px;
	border-left: 1px solid #999999;
}

.cities select {
	font-size: 14px;
        padding: 8px 35px 8px 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

	background: url("../images/arrow.png") no-repeat;
    background-size: 18px 36px;
    background-position: right 7px top;
}

.navigation_header > div.pull-right {
	font-family: 'Titillium Web', sans-serif;
	float: right;
}

.navigation_header > div > ul > li {
	display: inline;
	text-align: right;
}

.navigation_header > div > ul > li > a {
	text-decoration: none;
	color: green;
	padding: 0px 15px;
	line-height: 60px;
	display: inline-block;
	border-left: 1px solid #999999;
}

.clear_both {
	clear: both;
}

.header_icon {
	display: inline-block;
    vertical-align: middle;
}

.header_icon2 {
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}


/******* SEARCH COLUMN ********/

/* Appartments location column */
#search_columns {
	position: absolute;
}

#rentals {
	top: 61px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 60%;
    background-color: #E8E8E8;
}

#rentals > div {
	height: 100%;
	overflow-y: scroll;
}

#rentals > div > .search {
	padding: 10px 0px;
	background-color: #FFF;
}

#rentals_search > input {
	margin: 0px 10px;
	padding: 8px 20px 8px 10px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

#rentals_search select {
	font-size: 14px;
    padding: 8px 35px 8px 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

	background: url("../images/arrow.png") no-repeat;
    background-size: 18px 36px;
    background-position: 73px 0px;
}

#rentals_search > .submit_button {
	margin: 0px 10px;
	padding: 8px 30px 8px 30px;
	font-size: 14px;
	
	background-color: #6699FF;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

#rentals_search > input, select {
	padding-right: 80px;
}

.apartment {
    width: 44.5%;
    display: block;
    display: inline-block;
    margin: 3% 3% 3% 1.5%;
}

.gallery {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gallery > li {
	width: 100%;
	height: 250px;
	display: block;
}

.gallery > li > img {
	display: block;
	width: 100%;
	height: 100%;
}

.apartment_gallery {
	position: relative;
}

.apartment_gallery .like_button {
	top: 15px;
	right: 15px;
	width: 32px;
	height: 32px;
	position: absolute;
	background: url(../images/liked.png);
	background-size: 32px 32px;
}

.apartment_gallery .like_button.not_liked {
	background: url(../images/not_liked.png);
	background-size: 32px 32px;
}


.apartment_gallery .price_wrapper {
	left: 0px;
	bottom: 1em;
	line-height: 1.5em;
	position: absolute;
	background: #676767;
	color: #FFF;
	padding: 0.4em;
}

.apartment_gallery .price_wrapper .price {
	font-size: 1.5em;
	font-weight: bold;
	font-family: verdana;
}

.apartment_gallery .price_wrapper .currency {
	font-size: 1em;
	vertical-align: top;
}

.apartment_gallery .price_wrapper .instant_book {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    margin-top: -9px;
}

.apartment .apartment_description {
	position: relative;
}

.apartment .apartment_description .owner {
	position: absolute;
	width: 3em;
	height:3em;
	top: -1.85em;
	right: 4%;
	background-color: transparent;
	border-radius: 1.5em;
}

.apartment .apartment_description > a {
	margin-top: 0.35em;
	text-decoration: none;
	line-height: 1.35em;
	display: block;
}

.apartment .apartment_description .apartment_name {
	font-family: 'Titillium Web', sans-serif;
	display: block;
	width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #404040;
}

.apartment .apartment_description .apartment_name:hover {
	text-decoration: underline;
}

.apartment .apartment_description .apartment_kind, .apartment_reviews {
	font-family: 'Titillium Web', sans-serif;
	color:#C0C0C0;
}

.apartment .apartment_description .apartment_score {
	font-family: 'Titillium Web', sans-serif;
	color:#FFCC33;
}

/***** Right Column -- MAP *******/

#map_location {
	top: 61px;
    position: fixed;
    right: 0;
    left: auto;
    bottom: 0;
    width: 40%;
    background: blue; // for testing
    height: 100%;
}

#map_location > iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/******** Media queries *********/
